@import "salibaba-hamburg";
@import "_simplegrid";

$salibaba_gruen:rgba(44,82,52,1);
$salibaba_gold:rgba(218,170,41,1);
$salibaba_grau_hell:rgba(214,212,171,1);
$salibaba_grau:rgba(90,90,90,1);

.grid {
  max-width: 1048px;
}

.mi-gruen {
  color:$salibaba_gruen !important;
}

// minor bugfixes:
#titelbereich {
  position: relative;
  a {
    overflow:hidden;
  }
}

.mi-center-text {
  text-align: center !important;
}

.mi-zitat {
  @extend .mi-gruen;
  @extend .mi-center-text;
  font-size:2em;
}

.mi-padding-updown {
  padding-top:1em;
  padding-bottom:1em;
}

.mi-mark-links {
  a {
    text-decoration: underline !important;
  }
}

.mi-footer-nav {
  overflow:hidden;
  font-size:12px !important;
  .fb-logo {
    max-width:30px;
  }
  li {
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    color: rgba(218,170,41,1);
    text-transform: uppercase;
    margin-right: 20px !important;
    letter-spacing: 0.1;
    vertical-align: middle;
  }
  a {
    color:#D8AC43;
  }
}

.shopteaser {
  position:absolute;
  z-index:9999;
  right:30px;
  top:100px;
}